@my-org:registry=https://gitlab.noosoft.ru/api/v4/packages/npm/
'//gitlab.noosoft.ru/api/v4/packages/npm/:_authToken'="${CI_JOB_TOKEN}"
'//gitlab.noosoft.ru/api/v4/projects/4/packages/npm/:_authToken'="${CI_JOB_TOKEN}"
